<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Some Website</title>
    </head>
    <body>
        <h1>We will be right back</h1>
        <p>this site is currently being updated. we will be back soon</p>
    </body>
</html>